@import './variables.scss';

.el-tree .el-tree-node__content {
  height: 40px;
}

.el-cascader-node {
  padding: 0 20px 0 20px;
}

.el-date-editor .el-range-input {
  background: $bg-light;
}

.el-checkbox__inner {
  background: transparent;
}

.el-checkbox__input.is-disabled .el-checkbox__inner {
  background: $bg-disabled;
}

.el-pager li {
  background: transparent;
}

.el-pagination .btn-prev, .el-pagination .btn-next {
  background: transparent;
}

.el-pagination button:disabled {
  background: transparent;
}

.el-table-column--selection .cell {
  padding-left: 14px !important;
  padding-right: 14px !important;
}